.centered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  width: 64px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: all 0.2s ease;
  
  .knob {
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 14px;
    top:2px;
    background: #fff;
    transition: all 0.2s ease;
  }
}

.toggle.off {
  background: #777777;
  
  .knob {
    left:2px;
  }
}

.toggle.on {
  background: #42affa;
  
  .knob {
    left: 32px;
  }
}

.toggle.flash {
  transition: none;

  .knob {
    transition: none;
  }
}

.toggle.squared {
  border-radius: 0;
}
